out
dist
node_modules
.vscode-test/
*.vsix
*.pt
*.bin
*.h5
*.ckpt
*.onnx
*.tflite
*.pb
*.pth
*.zip
*.tar
*.tar.gz
*.egg-info/
__pycache__/
chat_history.json
.DS_Store
.env

backend/*.gguf
backend/*.bin
backend/*.pth
backend/*.pt


backend/flask testing files/


backend/chat_history.json

*.pyc
__pycache__/
